.preview {
  height: calc(40vw * 0.75);
  width: calc(40vw * 1.35);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  &__container {
    display: flex;
    height: calc(40vw * 0.75);
    position: relative;
    width: 100%;
    &__link {
      position: absolute;
      height: 100%;
      width: 100%;
      right: 0;
      transition: all 0.6s ease-in-out;
      &__image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
      }
      &__title {
        position: absolute;
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 3rem;
        background: rgba(0, 0, 0, 0.45);
        top: 0;
        left: 0;
        padding: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
	.preview {
		&__container {
      &__link {
        &__title {
          font-size: 1.825rem;
        }
      }
    }
	}	
}