#bg {
  height: 100vh; 
  width: 100vw;
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0;
  z-index: -1;
  div {
    canvas {
      width: 100vw;
      max-width: 100vw;
      border: none !important;
    }
  }
}